
h2{
  min-width: 100px;
  margin: 50px 0 25px 0;
  display: inline-block;
  padding: 10px;
  border-radius: 20px 0;
  background-color: ghostwhite;

}

h3 {
  margin: 0 0 10px 20px;

}
div.section{
  width: 100%;
  color: ghostwhite;

}

p {
  background-color: #262626;
  padding: 15px 10px;
  border-radius: 25px;
}
