#aboutMe {
  width: 50vw;
  background-color: #1b1b1b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: #eceff1;
  h2 {
    margin:20px;
  }

  .section {
    box-sizing: border-box;
    margin: 5px 50px;
      p {
        text-indent: 20px;
        margin-right: 10%;
         text-align: justify;
      }
  }


}
