.container {
  margin: 20vh 20% 0;
  line-height: 40px;
  font-size: 30px;

  h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #262626;
    font-size: larger

  }

  p {
    margin: 0 5%;
    font-size: 20px;
  }

  .section + .section {
    margin-top: 50px;
  }
}
