#menu {
  background-color: #262626;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  z-index: 2;

  h2 {
    float: left;
    color: ghostwhite;
    font-size: 42px;
  }

  app-menu {
    float: right;
    justify-content: space-between;
    height: 40px;
    margin-top: 6px;
    margin-right: 10px;
  }


}
app-milestone-projects{
  width: 100%;
}
app-about-me, app-interests, app-git-hub, app-languages, app-milestone-projets {
  display: block;
}


@media only screen and (max-width: 800px) {
  #menu {
    h2 {
      font-size: 26px;
    }
  }

}
@media only screen and (max-width: 1008px) {
  #menu {

  }
}
