#menu {
  background-color: #262626;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  z-index: 2;

  h2 {
    float: left;
    color: ghostwhite;
    font-size: 42px;
  }

  app-menu {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 40px;
    margin-top: 6px;
    margin-right: 10px;
  }

}
app-about-me, app-interests, app-git-hub, app-languages, app-milestone-projets {
  display: block;
}
@media only screen and (max-width: 1200px) {
  h2 {
    color: aqua;
  }

  #menu app-menu {
    width: 50%;
  }
}




