
$bg_primary: rgba(62, 62, 62, 0.71);
$bg_secondary: #262626;
/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

body{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1080px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  background-color: white;
}
html {

  background-color:$bg_primary;
  background-size: 64px 128px;
  height: 70%;

}
@media only screen and (max-width: 800px) {
  body {
    width: 100%;
    font-size: 16px;

  }
}
